body {
  font-family: Apex, "Helvetica Neue", "HelveticaNeue", "Lucida Grande",  Helvetica, Arial, sans-serif;
  font-size: 125%; }

.test {
  font-size: 30px; }

#fb-login {
  position: relative;
  z-index: 2; }

#players {
  position: absolute;
  width: 200px;
  height: 500px;
  right: 20px;
  top: 20px;
  background-color: gray;
  z-index: 2; }

.player {
  padding: 20px; }

.template {
  display: none; }

canvas {
  z-index: 1; }
