html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: Apex, "Helvetica Neue", "HelveticaNeue", "Lucida Grande",  Helvetica, Arial, sans-serif;
  font-size: 125%;
  margin: 0px;
  -webkit-user-select: none; }

#splash {
  width: 550px;
  z-index: 2;
  height: 220px;
  position: relative;
  margin: auto;
  top: 140px;
  background-color: rgba(14, 3, 29, 0.5);
  border: 1px solid #794C7A;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #C58DE4;
  font-family: 'Telex', sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  background: -webkit-linear-gradient(-45deg, rgba(14, 3, 29, 0.5) 0%, rgba(66, 41, 65, 0.5) 62%, rgba(121, 76, 122, 0.55) 64%, rgba(14, 3, 29, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  color: #E8FAFF;
  text-shadow: 0px 0px 16px #09F;
  font-size: 100px;
  text-align: center; }

#blackout {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: none; }

.end-game {
  display: none;
  width: 550px;
  z-index: 11;
  height: 150px;
  position: relative;
  margin: auto;
  top: 140px;
  background-color: rgba(14, 3, 29, 0.5);
  border: 1px solid #794C7A;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #C58DE4;
  font-family: 'Telex', sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-variant: normal;
  background: -webkit-linear-gradient(-45deg, rgba(14, 3, 29, 0.5) 0%, rgba(66, 41, 65, 0.5) 62%, rgba(121, 76, 122, 0.55) 64%, rgba(14, 3, 29, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  color: #E8FAFF;
  text-shadow: 0px 0px 16px #09F;
  font-size: 35px;
  text-align: center;
  padding: 41px 0px; }
  .end-game .next-game {
    font-size: 22px;
    font-variant: small-caps;
    margin: 33px auto 0px;
    background-color: rgba(14, 3, 29, 0.5);
    border: 1px solid #794C7A;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #C58DE4;
    width: 209px;
    height: 27px;
    line-height: 27px;
    box-shadow: none;
    border: 1px solid #522D53;
    cursor: pointer; }
    .end-game .next-game:hover {
      background: rgba(143, 84, 136, 0.5); }
    .end-game .next-game:active {
      background: rgba(97, 54, 92, 0.5); }

.page-title {
  position: "absolute";
  z-index: 2;
  color: #CAF4FF;
  text-shadow: 0px 0px 6px #09F;
  width: 200px;
  max-height: 40px;
  line-height: 13px;
  text-align: center;
  opacity: .4;
  -webkit-transition: opacity .8s;
  font-family: 'Telex', sans-serif;
  font-variant: small-caps;
  font-weight: bold; }
  .page-title.highlight {
    opacity: 1;
    z-index: 3; }

#fb-login {
  position: relative;
  z-index: 2;
  color: white;
  height: 22px;
  font-size: 17px;
  background-color: rgba(76, 114, 172, 0.5);
  border-bottom: 1px solid #1D1075;
  border-right: 1px solid #1D1075;
  margin: 0px;
  position: relative;
  padding: 0px 6px 0px 26px;
  background-image: url("/images/facebook-icon.png");
  background-size: 22px;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  margin: auto;
  width: 153px;
  top: 65px; }
  #fb-login:hover {
    background-color: rgba(76, 114, 172, 0.9);
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.6); }
  #fb-login.logout {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 0px 11px 0px 33px;
    width: 50px; }
  #fb-login.login {
    width: 153px; }

#target-wrapper {
  display: none;
  position: fixed;
  max-width: 500px;
  min-width: 200px;
  height: 113px;
  bottom: 60px;
  z-index: 4;
  color: #CAF4FF;
  text-shadow: 0px 0px 6px #09F;
  left: -10px;
  padding: 2px 3px 2px 17px;
  background-color: rgba(14, 3, 29, 0.5);
  border: 1px solid #794C7A;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #C58DE4;
  background: -webkit-linear-gradient(115deg, rgba(14, 3, 29, 0.5) 0%, rgba(66, 41, 65, 0.5) 30%, rgba(121, 76, 122, 0.55) 34%, rgba(14, 3, 29, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  font-family: 'Telex', sans-serif;
  font-variant: small-caps;
  font-weight: bold; }
  #target-wrapper .target-header {
    width: 200px;
    height: 14px;
    margin-bottom: 2px;
    font-size: 18px;
    color: #94C7CC;
    text-shadow: 0px 0px 6px #09F; }
  #target-wrapper #current-article {
    width: 500px;
    height: 28px;
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
    margin-bottom: 13px; }
  #target-wrapper #article-target {
    position: absolute;
    color: white;
    font-size: 36px;
    width: 90%;
    z-index: 3;
    margin-left: 10px; }

#players-header {
  display: none;
  position: absolute;
  width: 200px;
  height: 28px;
  margin-top: 2px;
  right: 0px;
  z-index: 2;
  border-bottom: 1px solid #3E2A69;
  text-align: center;
  font-family: 'Telex', sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  color: #94C7CC;
  text-shadow: 0px 0px 6px #09F; }

#players {
  display: none;
  position: absolute;
  width: 200px;
  height: 100%;
  right: 0px;
  top: -10px;
  padding-top: 39px;
  background-color: rgba(14, 3, 29, 0.5);
  border: 1px solid #794C7A;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #C58DE4;
  z-index: 2;
  overflow-y: scroll; }
  #players .player {
    padding: 6px;
    height: 50px;
    border-bottom: 1px solid #3E2A69; }
    #players .player .image {
      float: left; }
      #players .player .image img {
        border: 1px solid #794C7A;
        border-radius: 11px;
        box-shadow: 0px 0px 12px #A453D3; }
    #players .player .user-info {
      float: left; }
      #players .player .user-info .name {
        font-family: 'Telex', sans-serif;
        font-variant: small-caps;
        font-weight: bold;
        width: 126px;
        color: #FEF0FF;
        font-size: 17px;
        padding-left: 10px;
        text-shadow: 0px 0px 9px #6d34ff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      #players .player .user-info .article {
        position: relative;
        left: 11px;
        font-size: 13px;
        font-style: italic;
        overflow: hidden;
        width: 125px;
        height: 30px;
        color: #A5B3FF;
        text-shadow: 0px 0px 7px #000; }
      #players .player .user-info .article-shadow {
        text-shadow: 0px 0px 7px #000; }

.template {
  display: none; }

canvas {
  z-index: 1; }

/* Let's get this party started */
::-webkit-scrollbar {
  display: none; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(231, 219, 227, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4); }
